/*ストップウォッチ*/

.stopwatch {
    background: #222;
    color: #0f0;
    font-size: 2rem;
    text-align: right;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 300px;
}
.button{
    background: #ddd;
    margin: 10px 5px;
    padding: 10px 10px;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
button:disabled {
    background-color: #777;
}
.button:hover {
    cursor: pointer;
    background-color: #bbb;
}